*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
        scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
  
}

h1{
    color: white;
}
p{
    color: white;


}

li{

    padding-left: 50px;
}
#search{

    margin-right: 400px;
}

.navbar{
    background:#1D2023;
    
}

a{
    color: white;
}

#contenido{

    background-image: url(/IMAGENES/BackgroundCuidador.jpg);
}

#contenido::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #101010;
    position: fixed;
    opacity: 0.5;
    
    }
    
#titulo-contenido{

    text-align: left;
}

.cajasdetexto{

   padding-top: 50px;
}
.form-control{
    border-radius: 4px;
    width: 70%;
    border-color: steelblue;
    
}
#formulario{
    background: rgba(0,70,100,.5);
    padding-bottom: 50px;
    padding-top: 30px;
    border-radius: 15px;
    width: 50%;
}

.col-md-6{
    margin-right: 150px;
}

  
    




